
/* #region login & sign up */

h1 {
    margin-bottom: 20px;
}

.body-login-signup {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(./pawel-czerwinski-kxblPqfYc9E-unsplash.jpg);
    background-size: cover;
    
}
.container-login-signup  {
    max-width: 500px;
    margin: 0 auto;
    
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    background-color: #0043ff1f;
    backdrop-filter: blur(11px);
    border: 1px solid #0000000d;
}

.btn {
    background-color: #0d84fc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #004da0;
}

.up {
    margin-right: 100px;
}

.input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* #endregion login & sign up */


